<main class="main">
  <div class="inner">
    <div class="prototype__wrapper">
      <p class="prototype__hedding">
        <%= @prototype.date %>
      </p>
      <%= link_to "by #{@prototype.user.name}","/users/#{@prototype.user.id}", class: :prototype__user %> 
      <% if user_signed_in? && current_user.id == @prototype.user_id %>
        <div class="prototype__manage">
          <%= link_to "編集する", edit_prototype_path(@prototype), class: :prototype__btn %>
          <%= link_to "削除する", prototype_path(@prototype), method: :delete, class: :prototype__btn %>
        </div>
      <% end %>
      <%# <div class="prototype__image" style="text-align:center;"> 
        <%= image_tag(@prototype.image)%> 
      <%# </div> %>
        <div class="prototype__body">
        <div class="prototype__detail">
          <p class="detail__title">今月のテーマ</p>
          <p class="detail__message">
            <%= @prototype.thema %>
          </p>
        </div>
        <div class="koumoku">
          <%= "【本日の行動計画】" %><br />
        </div> 
        <div class="prototype__detail">
          <p class="detail__title">本日の重点課題と徹底する取り組み</p>
          <p class="detail__message">
            <%= @prototype.text1 %>
          </p>
        </div>
        <div class="prototype__detail">
          <p class="detail__title">チーム全体の理念浸透➡成長・成果に繋げる取り組み</p>
          <p class="detail__message">
            <%= @prototype.text2 %>
          </p>
        </div>
        <div class="prototype__detail">
          <p class="detail__title">メンバー一人一人の成長に向けた取り組み</p>
          <p class="detail__message">
            <%= @prototype.text3 %>
          </p>
        </div>
        <div class="koumoku">
          <%= "【成果報告】" %><br />
        </div>
        <div class="prototype__detail">
          <p class="detail__title">本日チームが成長した点　チームの状況</p>
          <p class="detail__message">
            <%= @prototype.text4 %>
          </p>
        </div>
        <div class="prototype__detail">
          <p class="detail__title">リーダーとしての取り組み振り返り（成果・成長に貢献できたか？）</p>
          <p class="detail__message">
            <%= @prototype.text5 %>
          </p>
        </div>
      </div>
      <div class="prototype__comments">
        <% if user_signed_in? %>
          <%= form_with(model: [@prototype, @comment], local: true) do |f|%>
            <div class="field">
                <%= f.label :text, "コメント" %><br />
                <%= f.text_field :text %>
            </div>
            <div class="actions">
              <%= f.submit "送信する", class: :form__btn  %>
            </div>
          <% end %> 
        <% end %>
        <ul class="comments_lists">
            <% if @comments %>
              <% @comments.each do |comment| %>
              <li class="comments_list">
              <%= comment.text %>
              <%= link_to  "(#{comment.user.name})", "/users/#{comment.user.id}", class: :comment_user %>
              <%= link_to  "削除", prototype_comment_path(@prototype,comment), method: :delete %>
              <% end %>
            <% end %>
            </li>
        </ul>
      </div>
    </div>
  </div>
</main>
